.DS_Store
._*
*~.*
~$*

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.out
*.symi
*.symlog
*.symo
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.tcp
*.tex#
*.toc
*.tps
*.tmp
__pycache__
*.autosave
*.texnicle
*.swp
*.swo
